parameters:
  level: 5
  paths:
    - src
    - transport
    - public
    - tests
  ignoreErrors:
    - '#^Call to an undefined static method Packaged\\DalSchema\\Databases\\Mysql\\MySQLColumnType::.*$#'
    - '#^Call to an undefined static method Packaged\\DalSchema\\Databases\\Mysql\\MySQLKeyType::.*$#'
    - "#^Unsafe usage of new static#"
